---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>

    <h1>{pageTitle}</h1>
    <p>Based in Sydney, Australia.</p>
    <p><img src="/images/me.jpeg" style="max-width:800px;"/></p>
    
</BaseLayout>