---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
---
<BaseLayout pageTitle={pageTitle}>

    <div id="main-content" style="max-width:1200">
        <h1>Contact</h1>
        <p>contact at lukeblackman _ com</p>
    </div>
    
</BaseLayout>