---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
---
<BaseLayout pageTitle={pageTitle}>

    <div class="entry align-left">
       
        <div class="contents">
            
            <h1>{pageTitle}</h1>
            <p>contact at lukeblackman _ com</p>

        </div>

    </div>
    
</BaseLayout>