---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Luke Blackman";
---
<BaseLayout pageTitle={pageTitle}>

    <div class="posts">

		<a class="post photo" href="/images/gallery/1.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/1.jpg">
		</a>

		<a class="post photo" href="/images/gallery/2.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/2.jpg">
		</a>

		<a class="post photo" href="/images/gallery/3.jpg" style="
			max-width:1200px;
			max-height:800px;
			width:calc(1200px*400/800);
			flex-grow:calc(1200*400/800)">
			<i style="padding-bottom:66.6%"></i>
			<img src="/images/gallery/3.jpg">
		</a>

		<a class="post photo" href="/images/gallery/4.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/4.jpg">
		</a>

		<a class="post photo" href="/images/gallery/5.jpg" style="
			max-width:1200px;
			max-height:800px;
			width:calc(1200px*400/800);
			flex-grow:calc(1200*400/800)">
			<i style="padding-bottom:66.6%"></i>
			<img src="/images/gallery/5.jpg">
		</a>

		<a class="post photo" href="/images/gallery/6.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/6.jpg">
		</a>

		<a class="post photo" href="/images/gallery/7.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/7.jpg">
		</a>

		<a class="post photo" href="/images/gallery/8.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/8.jpg">
		</a>

		<a class="post photo" href="/images/gallery/9.jpg" style="
			max-width:800;
			max-height:1200;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/9.jpg">
		</a>

		<a class="post photo" href="/images/gallery/10.jpg" style="
			max-width:800px;
			max-height:1200px;
			width:calc(800px*400/1200);
			flex-grow:calc(800*400/1200)">
			<i style="padding-bottom:150%"></i>
			<img src="/images/gallery/10.jpg">
		</a>

		<a class="post photo" href="/images/gallery/11.jpg" style="
			max-width:1200px;
			max-height:800px;
			width:calc(1200px*400/675);
			flex-grow:calc(1200*400/675)">
			<i style="padding-bottom:56.25%"></i>
			<img src="/images/gallery/11.jpg">
		</a>

		<a class="post photo" href="/images/gallery/12.jpg" style="
			max-width:1200px;
			max-height:800px;
			width:calc(1200px*400/800);
			flex-grow:calc(1200*400/800)">
			<i style="padding-bottom:66.6%"></i>
			<img src="/images/gallery/12.jpg">
		</a>

	</div>

</BaseLayout>