---
---
<div class="navigation-container align-left">
    <input type="checkbox" name="toggle" id="toggle">
    
    <div class="navigation">

        <a href="/" class="index-link">Luke Blackman</a>

        <br/>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>

    </div>

    <label for="toggle">—<br>—<br>—</label>
</div>